@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@theme {
	--color-smoke: #f4f4f4;
	--color-dark-liver: #4e4e4e;
	--color-charcoal: #1e1e1e;
	--color-gunmetal: #535557;
	--color-white: #ffffff;
	--color-blue: #1f66f0;
	--color-iron-gray: #878787;
	--color-black: #1e1e1e;
	--color-gray: #e7e7e7;
	--font-sans: 'poppins', sans-serif;
}

* {
	-ms-overflow-style: auto;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}